<div class="login-section">
  <div class="section-wrapper">
    <div class="app-name">
      <span class="zen">ZEN&nbsp;</span>
      <span class="to-do">TO&nbsp;DO</span>
    </div>
    <mat-divider></mat-divider>
    <div class="button-wrapper">
      <button class="login-with-google login-button" (click)="login()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="google">
          <path
            d="M13.9201,6h-6.9201v2h4.89893c-0.464661,2.2793 -2.4845,4 -4.89893,4c-2.75684,0 -5,-2.24316 -5,-5c0,-2.75684 2.24316,-5 5,-5c1.12341,0 2.15027,0.385986 2.98602,1.01398l1.43512,-1.43512c-1.20636,-0.985657 -2.74542,-1.57886 -4.42114,-1.57886c-3.85986,0 -7,3.14062 -7,7c0,3.85938 3.14014,7 7,7c3.51947,0 6.43225,-2.61377 6.9201,-6c0.0471802,-0.327515 0.079895,-0.659607 0.079895,-1c0,-0.340393 -0.0327148,-0.672485 -0.079895,-1Z"
            transform="translate(1 1)"
          ></path>
        </svg>
        <div class="login-label">login with google</div>
      </button>
      <div class="divider"></div>
      <button class="anonymous-login login-button" (click)="anonymousLogin()">
        Anonymous Login
      </button>
    </div>
  </div>
</div>
