@import "../../scss_variables.scss";
.card-container {
  width: 175px;
  height: 120px;
  color: $white-text-color;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &.red {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#c2000055, #c20000);
  }
  &.blue {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#4547f755, #4547f7);
  }
  &.yellow {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#fde43b55, #fde43b);
  }
  &.green {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#065e5b55, #065e5b);
  }
  &.violet {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#4801a055, #4801a0);
  }
  &.grey {
    background-color: #000000;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #000000 32px
      ),
      repeating-linear-gradient(#71717155, #717171);
  }

  .card-head-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
  }
  .progress-label,
  .task-progress {
    font-size: 12.5px;
  }
  .progress-wrapper {
    padding: 10px 0;
  }
}
