// Shadows
$purple-blue-shadow: 5px 5px 10px rgba(61, 176, 253, 0.4),
  -5px -5px 10px rgba(113, 24, 255, 0.2);

$floating-box-shadow: rgba(255, 38, 38, 0.25) 0px 0px 20px,
  rgba(137, 6, 6, 0.12) 0px -12px 30px, rgba(234, 234, 234, 0.12) 0px 4px 6px,
  rgba(165, 0, 0, 0.17) 0px 12px 13px, rgba(201, 201, 201, 0.09) 0px -3px 5px;

// Project Card Colors

$red-project-card-bg-color: #42171b;
$blue-project-card-bg-color: #2c237b;
$yellow-project-card-bg-color: #7d6f33;
$green-project-card-bg-color: #065e5b;
$violet-project-card-bg-color: #311f4a;
$grey-project-card-bg-color: #717171;
